@charset "UTF-8";

body {
	font-size: 14px;
	line-height: 1.5;
}
input, h2, ul, #dayContainer, #planContainer, button, .favDestination{
	font-family: 'Cafe24SsurroundAir' !important;
}

.plans{
	padding: 15px 20px;
	position: relative;
	margin-bottom:30px;
}
.plans:hover{
	cursor: pointer;
}
.plans.active {
	background-color: yellow; /* Change this to your desired color */
}

::after, ::before{
	box-sizing:border-box;
}

#planContainer h5 {
	font-family: 'Cafe24SsurroundAir';
	font-size: 2rem;
	margin-bottom: .5em;
	background-color: #F6F1B4;
}

.click {
	border-style: inset;
	border-width: 1px;
}

.days {
	position: relative;
}

img.deleteDayImg {
	width: 30%;
}

img.collapseImg {
	width: 60%;
}

img.deleteFavImg{
	width: 20%;
}

.deleteFav{
	text-align: right;
}


